.idea
.vscode
build
dist
bin
*.iml
*-local.properties
db-file-catamesh
node_modules
*.tgz
Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.micronaut/
*.ipr
*.iws
.project
.settings
.classpath
.factorypath
test--*
